<!-- Toggle Button (always visible) -->
<div class="h-screen flex flex-col">
  <!-- Sidebar Container -->
  <div
    class="top-0 left-0 h-full bg-white flex flex-col shadow-md transition-all duration-3000"
    [ngClass]="isSideBarOpen ? 'w-max' : 'w-max'"
  >
    <div class="flex flex-row ml-4 my-6 space-x-2 cursor-pointer pr-4">
      <div class="flex text-2xl" (click)="ToggleSideBar()">
        ☰
        <!-- Sidebar Header -->
      </div>
      <div class="text-2xl" *ngIf="isSideBarOpen">
        <h1 class="text-2xl text-[#6200EE] font-bold mb-4">ExpenseTracker</h1>
        <span class="block h-[1px] bg-gray-300"></span>
      </div>
    </div>

    <!-- Sidebar Navigation -->
    <nav class="flex flex-col px-4 space-y-4 mt-6" *ngIf="isSideBarOpen">
      <a
        routerLink="/home/Dashboard"
        class="text-lg text-gray-500 font-semibold hover:bg-violet-100 px-2 py-2 rounded-md"
        >Dashboard</a
      >
      <a
        routerLink="/home/Expenses"
        class="text-lg text-gray-500 font-semibold hover:bg-purple-50 px-2 py-2 rounded-md"
        >Expenses</a
      >
      <a
        routerLink="/home/Incomes"
        class="text-lg text-gray-500 font-semibold hover:bg-purple-50 px-2 py-2 rounded-md"
        >Income</a
      >
    </nav>

    <!-- Sidebar Footer -->
    <div class="mt-auto px-4 pb-6" *ngIf="isSideBarOpen">
      <div class="flex items-center">
        <div
          class="w-10 h-10 bg-purple-600 text-white rounded-full flex items-center justify-center"
        >
          JD
        </div>
        <div class="px-2 flex flex-col">
          <h1 class="text-black text-sm">Veeren Pinisetty</h1>
          <div class="flex flex-row space-x-2">
            <h2 class="text-gray-400 text-xs">User</h2>
            <a (click)="LogOut()" class="text-blue-400 text-xs cursor-pointer"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
