<div class="h-screen bg-white flex flex-col shadow-md w-max">
  <div class="mx-4 my-6">
    <h1 class="text-4xl text-[#6200EE] font-bold mb-4">ExpenseTracker</h1>
    <span class="block h-[1px] bg-gray-300"></span>
  </div>

  <nav class="flex flex-col px-4 space-y-4 mt-6">
    <a
      class="flex items-center text-2xl text-gray-500 font-semibold rounded-md cursor-pointer px-2 py-3 hover:bg-violet-100"
      >Dashboard</a
    >
    <a
      class="flex items-center text-2xl text-gray-500 font-semibold rounded-md cursor-pointer px-2 py-3 hover:bg-purple-50"
      >Expenses</a
    >
    <a
      class="flex items-center text-2xl text-gray-500 font-semibold rounded-md cursor-pointer px-2 py-3 hover:bg-purple-50"
      >Income</a
    >
  </nav>
  <div class="mt-auto px-4 pb-6">
    <div class="flex items-center flex-row">
      <div
        class="w-10 h-10 bg-purple-600 text-white rounded-full flex items-center justify-center"
      >
        JD
      </div>
      <div class="px-2 flex flex-col cursor-auto">
        <h1 class="text-black">Veeren Pinisetty</h1>
        <h2 class="text-gray-400">User</h2>
      </div>
    </div>
  </div>
  <!--

  <div class="mt-auto px-4 py-6">
    <div class="flex items-center space-x-3">
      <div
        class="w-10 h-10 bg-purple-600 text-white flex items-center justify-center rounded-full font-bold"
      >
        JD
      </div>
      <div>
        <p class="text-sm font-semibold text-gray-800">John Doe</p>
        <p class="text-xs text-gray-500">User</p>
      </div>
    </div>
  </div>
</div> -->
</div>
