<div
  class="w-full bg-gray-100 flex flex-col md:flex-row items-start md:items-center justify-between p-4 rounded-md shadow gap-4"
>
  <!-- Icon -->
  <div class="flex-shrink-0">
    <img src="assets/Images/minusSymbol.svg" alt="bye" class="w-8 h-8" />
  </div>

  <!-- Title + Category -->
  <div class="flex flex-col">
    <h1 class="font-semibold text-black text-base">{{transactions.title}}</h1>
    <h2 class="font-medium text-gray-500 text-sm">
      {{transactions.categoryName}}
    </h2>
  </div>

  <!-- Description -->
  <div class="flex-1">
    <h2 class="text-gray-700 text-sm">{{transactions.description}}</h2>
  </div>

  <!-- Amount + Date -->
  <div class="text-right">
    <h1 class="font-bold text-lg text-green-600">
      {{transactions.amount | currency:'INR'}}
    </h1>
    <h2 class="text-sm text-gray-500">{{transactions.date| date:'short'}}</h2>
  </div>

  <!-- Action Buttons -->
  <div class="flex gap-2">
    <button
      class="px-4 py-1 text-sm rounded-md border border-violet-400 text-violet-700 hover:bg-violet-100 transition"
      (click)="onEdit()"
    >
      Edit
    </button>
    <button
      class="px-4 py-1 text-sm rounded-md border border-red-400 text-red-600 hover:bg-red-100 transition"
      (click)="onDelete()"
    >
      Remove
    </button>
  </div>
</div>
