@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EntityFrameWorkPract.Models.RegisterModel;

<div>
    <form asp-controller="Registration" asp-action="Register" method="post">
       <label>  Name :</label>
       <input type="text"   asp-for="Username" />
       <label>Email   </label>
       <input type="email" asp-for="Email"/>
      
       <label ">Password</label>
       <input type="password" asp-for="Password"/>
      
       <label>Confirm Password</label>
       <input type="password" asp-for="ConfirmPassword"/>
     
       <button type="submit">submit</button>

       
    </form>
</div> 
@section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
